services:
  - type: worker
    name: attendance-bot
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python bot.py"
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: attendance-db
          property: connectionString
      - key: ADMIN_IDS
        sync: false

databases:
  - name: attendance-db
    plan: free
    databaseName: attendance
    user: attendance_user
    postgresVersion: 17
